.warning-page-container {
    margin-top: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
}

.warning-page-container:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}

.warning-title {
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
}

.warning-info {
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
}

.warning-button {
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

