.app-header-bar {
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 150;
}

.app-header-bar li {
    display: inline;
    list-style-type: none;
    color: #FFF;
}

.app-header-bar li a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.app-header-bar li a:hover {
    background-color: #ddd;
}

.profile {
    float: right;
    margin-right: 20px;
    display: inline-block;
}

.profileButton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #666;
}

.profileContent {
    color: #666;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profileContent .settings {
    position: relative;
    color: #666;
    display: block;
    width: 150px;
    padding: 10px;
    text-align: left;
}

.profileContent .logout {
    position: relative;
    color: #666;
    display: block;
    width: 150px;
    padding: 10px;
    text-align: left;
}

.profileContent .settings:hover .logout:hover {
    background-color: #f3f3f3;
}

.profile:hover .profileContent {
    display: block;
}

.profile:hover .profileButton {
    background-color: #ddd;
}