.director-container {
    margin-top: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
}

.director-container:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}

.user-icon-row {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-icon {
    vertical-align: middle;
    font-size: 80px;
    color: #cecac6;
}

.info-row {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.50);*/
}

.info-col {
    margin-top: 10px;
    min-width: 300px;
}

.info-row-inner{
    justify-content: center;
}

.movies-row {
}